.bodyclass {
    background-color: #2b2b2b;
}

.topdiv {
    background-color: #1c1c1c;
    padding: 30px;
    color: white;
    font-family: Mohave;
}

.bodydiv {
    margin-left: 60px;
    margin-right: 60px;
    color: #adadad;
    font-family: Lato;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}